/*
CSS FILE for FirstRowMovies
*/
body
{
	padding: 10px;
	margin: 0px;
	background-color: #30393B;
	font-family: sans-serif;
	letter-spacing: 1px;
	color: #241919;
}

#wrapper
{
    margin-left:auto;
    margin-right:auto;
    height: auto;
    width: 940px;
}

#browse
{
    margin-left:auto;
    margin-right:auto;
    width: 880px;
}

blockquote
{
	text-align:justify;
	width: 650px;
}

h1, h2, h3
{
	color: #241919;
	letter-spacing: 2px;
}

a{text-decoration:none}
a:link {color:#241919;}    /* unvisited link */
a:visited {color:#241919;} /* visited link */
a:hover {color:#A53F3F;}   /* mouse over link */
a:active {color:#A53F3F;}  /* selected link */

nav
{
	word-spacing: 10px;
}

img
{
	border-style: none
}

img.movie
{
	height: 300px;
	width: 180px;
	margin-left: 10px;
	margin-right: 10px;
	border-width: 1px;
	border-style: solid;
	margin-top: 30px;
}

img.moviethumb
{
	height: 260px;
	width: 145px;
	margin-left: 10px;
	margin-right: 10px;
	border-width: 1px;
	border-style: solid;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.top
{
	background-color: #fff;
	height: 80px;
	margin-top: 10px;
	border-style: solid;
	border-width: 2px;
	border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
}

div.nav
{
	padding: 20px;
}

div.content
{
	background-color: #fff;
	margin-top: 10px;
	padding-bottom: 40px;
	border-width: 2px;
	border-style: solid;
	border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    text-align: center;
}

div.complaints_container
{
	float: left;
	width: 700px;
	text-align: left;
}

.fieldborder
{
	width: 700px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    padding: 20px;
}

#navbar
{
	margin: 0;
	padding: 0;
}

#navbar li
{
	list-style: none;
	float: left;
}

#navbar li a
{
	display: block;
	padding: 3px 8px;
	background-color: #fff;
	text-decoration: none;
}

#navbar li ul
{
	display: none;
	background-color: #69f;
	width: 150px;
}


#navbar li:hover ul
{
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
}

#navbar li:hover li
{
	float: none;
}

#navbar li:hover li a
{
	background-color: #fff;
	border-style: solid;
	border-color: #000;
	border-top-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	color: #000;
}

#navbar li li a:hover
{
	background-color: #993333;
}

.navigation
{
	float:right;
	margin-top: 15px;
	margin-right: 15px;
}

div.movieimg
{
	display:inline;
	float:right;
	padding: 0px;
}

div.movieinfo
{
	margin: 10px;
}

div.movieAbstract
{
	display:inline;
	width:610px;
	float:left;
	margin-left: 35px;
	text-align: justify;
	margin-bottom: 25px;
}

textarea.comment
{
	width: 70%;
	height: 120px;
	float: left;
	margin-left: 40px;
	margin-bottom: 30px;
}

input.comment_button
{
	margin-top: 30px;
	width: 80px;
	height: 40px;
}

input.admin_button
{
	margin-top: 10px;
	margin-bottom: 10px;
	width: auto;
	height: 30px;
}

figure
{
	display: inline-table;
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 30px;
}

span.error
{
	color: #BA1414 !important;
}

.warning
{
	color: #BA1414;
	padding-left: 20px;
	padding-right: 20px;
}

.flag
{
	width:15px;
	height:15px;
}

.left_float
{
	margin-left:50px;
	float:left;
}

.right_float
{
	margin-right:50px;
	float:right;
}